node_modules
.env
.env.*
coverage
coverage.json
.vscode
.openzeppelin
.github
.husky
.git

.eslintignore
.gitignore
.gitmodules
.prettierignore
.prettierrc
.solcover.js
.solhint.json
.solhintignore
tsconfig.json
tslint.json

# fix for coverage with 0.8.19
/modules

#Hardhat files
/cache
/artifacts
/.openzeppelin
/scripts
hardhat.config.ts
resolutions.json
mythril.solc.json
slither.config.json
.solcx-lock*

/contracts/test
/test
/constants